
.icon-cancel-alt:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-divide:before { content: '\e805'; } /* '' */
.icon-eq:before { content: '\e806'; } /* '' */
.icon-math:before { content: '\f01a'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
