
.icon-plus:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-divide:before { content: '\e805'; } /* '' */
.icon-eq:before { content: '\e806'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
