@import "tailwindcss";

.mybg {
    background: #1D2671;
    background: linear-gradient(90deg, rgba(29, 38, 113, 1) 0%, rgba(195, 55, 100, 1) 100%);
}

.favfont1 {
    font-family: "WDXL Lubrifont TC", sans-serif;
}
